<nav class="navbar navbar-expand-lg navbar-light bg-light mr-auto justify-content-between">
  <div class="container-fluid">
      <a id="link" class="navbar-brand" href="{% url 'home' %}" style="color: #5064f4"><b>Meal Plan</b></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <i class="fas fa-bars"></i>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-link" aria-current="page" href="{% url 'home' %}">Home</a>
        <a class="nav-link" href="{% url 'foods' %}">Foods</a>
        <a class="nav-link" href="{% url 'recipes' %}">Recipes</a>
          <a class="nav-link" href="{% url 'profile' %}">Profile</a>

      </div>
        <a class="nav-link btn" href="{% url 'logout' %}">Log out</a>
    </div>
  </div>
</nav>