{%  extends 'food/main.html' %}
{%  include 'food/navbar.html' %}
{% block content %}
    <style>
    a {
        color: #fbfbfb;
    }
    h2{
        margin-top: 15px;
    }
    </style>

    <h2>Recipes </h2>
    <hr>
    <div class="d-flex justify-content-center">
        <button type="button" class="btn btn-primary">
            <a href="{% url 'create_recipe'%}">Create New Recipes</a>
        </button>
    </div>

<table class="table">
  <thead class="thead-light">
    <tr>
      <th scope="col">Name</th>
    </tr>
  </thead>
  <tbody>
  {% for recipe in recipes %}
    <tr>
      <td>{{ recipe.name }}</td>
      <td style="width:5%"><button type="button" class="btn btn-primary"><a href="{% url 'recipe_details' recipe.pk %}">View</a></button></td>
      <td style="width:5%"><button type="button" class="btn btn-danger"><a href="{% url 'delete_recipe' recipe.pk %}">Delete</a></button></td>
    </tr>
  {% endfor %}
  </tbody>
</table>



{% endblock %}