{%  extends 'food/main.html' %}
{%  include 'food/navbar.html' %}
{% block content %}

    <h1>Recipe Details</h1>
    <h3>Price</h3>
    <h5>Price per Serving: {{ recipe.price_per_serving }}</h5>
    <h5>Price per 100 calories: {{ recipe.price_per_100cal }}</h5>
    <hr>

    <h3>Macros</h3>
    <h5>Calories: {{ recipe.calories }}</h5>
    <h5>Carbs: {{ recipe.carb }}</h5>
    <h5>Fat: {{ recipe.fat }}</h5>
    <h5>Protein: {{ recipe.protein }}</h5>
    <hr>
    <h3>Ingredients</h3>
    {% for ingredient in ingredients %}
        <p>{{ ingredient.name }} x {{ ingredient.serving_amount }}</p>
    {% endfor %}

{% endblock%}